@model Gestional;

@{
    ViewBag.Title = "Tickets Gestional";
}

<div class="text-center">
    <h1 class="display-4">EpiCinema</h1>

    <div class="text-start my-3">
        <a class="btn btn-primary" asp-controller="Ticket" asp-action="Sell">Sell ticket</a>
    </div>

    <div class="row">
        <div class="col mx-4 py-3 pb-4 border border-1 border-black rounded-3">
            <h3>North Hall</h3>

            @if (Model.NorthHall?.TicketsList?.Count > 0)
            {
                <div class="text-start px-3">
                    <div class="d-flex justify-content-between">
                        <p><b>@Model.NorthHall.TicketsList.Count</b>/120</p>
                        @if (Model.NorthHall?.ReducedTicketsCount > 0)
                        {
                            <p>@Model.NorthHall?.ReducedTicketsCount reduced tickets</p>
                        }
                    </div>

                    <div class="row gap-1 justify-content-center">
                        @for(int i = 0; i<120; i++)
                        {
                            if (Model?.NorthHall?.TicketsList.Count > i && !string.IsNullOrEmpty(Model?.NorthHall?.TicketsList[i].Name))
                            {
                                string bgColor = Model.NorthHall.TicketsList[i].IsReduced ? "bg-warning" : "bg-info";
                                <div class="col-1 border border-1 rounded-3 @bgColor" style="aspect-ratio: 1/1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@Model.NorthHall.TicketsList[i].Name @Model.NorthHall.TicketsList[i].Surname"></div>
                            }
                            else
                            {
                                <div class="col-1 border border-1 rounded-3 bg-secondary bg-opacity-10" style="aspect-ratio: 1/1"></div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <h5 class="mt-4">No tickets sold for this hall</h5>
            }

        </div>

        <div class="col mx-4 py-3 pb-4 border border-1 border-black rounded-3">
            <h3>East Hall</h3>

            @if (Model.EastHall?.TicketsList?.Count > 0)
            {
                <div class="text-start px-3">
                    <div class="d-flex justify-content-between">
                        <p><b>@Model.EastHall.TicketsList.Count</b>/120</p>
                            @if (Model.EastHall?.ReducedTicketsCount > 0)
                            {
                                <p>@Model.EastHall?.ReducedTicketsCount reduced tickets</p>
                            }
                        
                    </div>

                    <div class="row gap-1 justify-content-center">
                        @for (int i = 0; i < 120; i++)
                        {
                            if (Model?.EastHall?.TicketsList.Count > i && !string.IsNullOrEmpty(Model?.EastHall?.TicketsList[i].Name))
                            {
                                string bgColor = Model.EastHall.TicketsList[i].IsReduced ? "bg-warning" : "bg-info";
                                <div class="col-1 border border-1 rounded-3 @bgColor" style="aspect-ratio: 1/1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@Model.EastHall.TicketsList[i].Name @Model.EastHall.TicketsList[i].Surname"></div>
                            }
                            else
                            {
                                <div class="col-1 border border-1 rounded-3 bg-secondary bg-opacity-10" style="aspect-ratio: 1/1"></div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <h5 class="mt-4">No tickets sold for this hall</h5>
            }

        </div>

        <div class="col mx-4 py-3 pb-4 border border-1 border-black rounded-3">
            <h3>South Hall</h3>

            @if (Model.SouthHall?.TicketsList?.Count > 0)
            {
                <div class="text-start px-3">
                    <div class="d-flex justify-content-between">
                        <p><b>@Model.SouthHall.TicketsList.Count</b>/120</p>
                        @if (Model.SouthHall?.ReducedTicketsCount > 0)
                        {
                            <p>@Model.SouthHall?.ReducedTicketsCount reduced tickets</p>
                        }
                    </div>

                    <div class="row gap-1 justify-content-center">
                        @for (int i = 0; i < 120; i++)
                        {
                            if (Model?.SouthHall?.TicketsList.Count > i && !string.IsNullOrEmpty(Model?.SouthHall?.TicketsList[i].Name))
                            {
                                string bgColor = Model.SouthHall.TicketsList[i].IsReduced ? "bg-warning" : "bg-info";
                                <div class="col-1 border border-1 rounded-3 @bgColor" style="aspect-ratio: 1/1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="@Model.SouthHall.TicketsList[i].Name @Model.SouthHall.TicketsList[i].Surname"></div>
                            }
                            else
                            {
                                <div class="col-1 border border-1 rounded-3 bg-secondary bg-opacity-10" style="aspect-ratio: 1/1"></div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <h5 class="mt-4">No tickets sold for this hall</h5>
            }

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}